*{
    margin: 0;
    padding: 0;   
}
html{
    scroll-behavior: smooth;
}
body{
   background: url(sback.jpg) no-repeat center center fixed;
   background-size: cover;;
}
.btn-sm{
    padding: 3px 10px;
    vertical-align: middle;
    font-size: 16px;
}
.btn{
    padding: 8px 20px;
    margin: 9px 4px;
    border: 2px solid white;
    border-radius: 15px;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.btn-dark{
    color: black;
    border: 2px solid black;
    font-family: 'Ubuntu', sans-serif;
}
a{
    color: white;
}
.logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 26%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 5px;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color: black;
    

}
.nav-list{
    width: 70%;
    align-items: center;
    display: flex;
    
}
.nav-list li{
       list-style: none;
       padding: 27px 30px;
}
.nav-list li a{
     text-decoration: none;
     color: white;
     font-size: 20px;
     font-family: 'Ubuntu', sans-serif;

}
.nav-list li a:hover{
    text-decoration: none;
    color: gray;

}
.rightnav{
    width: 30%;
    text-align: right;
    padding: 0 23px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid gray;
    border-radius: 9px;
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid rgb(70, 28, 4);
    background-color:rgb(218, 216, 216);
    padding: 5px;
    margin: 10px;
    border-radius: 30px;
    
}
#services .box img{
    height: 500px;
    display: block;
    align-items: center;
    margin: auto;
}
#services .box p{
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
    padding: 7px;
}
.h-secondary{
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 12px;
}
#contact{
    background-color:#f6f5f4;
    height: 550px;
}
.text-center{
    text-align: center;
    padding-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}
.form{
    margin: 25px 650px;
}
.form-input{
    width: 100%;
    padding: 5px 13px;
    border: 2px solid gray;
    border-radius: 6px;
    margin: 14px 0;
    padding: 5px 3px;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 15px;

}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}
.text-footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    background-color: dimgrey;
}
@media only screen and (max-width: 1140px){
    .navbar{
        flex-direction: column;
        transition: all 0.5s ease-out;
        height: 477px;
    }
    .nav-list{
        flex-direction: column;
        align-items: center;
    }
    
    .btn{
        margin: 17px auto;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .buttons{
        text-align: center;

    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    #services{
        flex-direction: column;
    }
    #services .box img{
        height: 250px;
        display: block;
        align-items: center;
        margin: auto;
        justify-content: space-evenly;
    }
    .form{
        margin: 9px 11px;
    }
     
}